@font-face {
	font-family: "Klavika Medium";
	src: url("../fonts/KlavikaMedium-Plain/acac70fdb7ecef747e2185d85dbbbbfd.eot");
	src: url("../fonts/KlavikaMedium-Plain/acac70fdb7ecef747e2185d85dbbbbfd.eot?#iefix") format("embedded-opentype"),
	url("../fonts/KlavikaMedium-Plain/acac70fdb7ecef747e2185d85dbbbbfd.woff2") format("woff2"),
	url("../fonts/KlavikaMedium-Plain/acac70fdb7ecef747e2185d85dbbbbfd.woff") format("woff"),
	url("../fonts/KlavikaMedium-Plain/acac70fdb7ecef747e2185d85dbbbbfd.ttf") format("truetype"),
	url("../fonts/KlavikaMedium-Plain/acac70fdb7ecef747e2185d85dbbbbfd.svg#Klavika Medium") format("svg");
}

@font-face {
	font-family: 'ZurichBT-Roman';
	src: url('../fonts/ZurichBT-Roman/ZurichBT-RomanCondensed.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ZurichBT-Roman/ZurichBT-RomanCondensed.woff') format('woff'),
	url('../fonts/ZurichBT-Roman/ZurichBT-RomanCondensed.ttf')  format('truetype'),
	url('../fonts/ZurichBT-Roman/ZurichBT-RomanCondensed.svg#ZurichBT-RomanCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ZurichBT-Bold';
	src: url('../fonts/ZurichBT-Bold/ZurichBT-BoldCondensed.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ZurichBT-Bold/ZurichBT-BoldCondensed.woff') format('woff'),
	url('../fonts/ZurichBT-Bold/ZurichBT-BoldCondensed.ttf')  format('truetype'),
	url('../fonts/ZurichBT-Bold/ZurichBT-BoldCondensed.svg#ZurichBT-BoldCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
